body {
    display: flex;
    background-image: url(https://images-gmi-pmc.edge-generalmills.com/476c10e1-c851-4539-8e3b-4b49323927c5.jpg);
    justify-content: center;
}
.divClass {
    align-self: center;
}
.divClass h1{
    color: blueviolet;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
#thirdDiv {
    align-self: center;
    height: 600px;
    width: 500px;
    background-color: coral;
    padding: 50px;
    border: solid 2px blue;
}
#thirdDiv li img {
    width: 400px;
}